# MacOS
.DS_Store

# env file
.env

# Editor directories and files
.idea
.vscode
*.njsproj
*.ntvs*
*.sln
*.suo
*.sw?

# webapp build
client/dist

# dependencies
node_modules

# Log files
npm-debug.log*
