# MacOS
.DS_Store

# local env files
.env.local
.env.*.local

# Editor directories and files
.idea
.vscode
*.njsproj
*.ntvs*
*.sln
*.suo
*.sw?

# webapp build
client/dist

# dependencies
node_modules

# Log files
npm-debug.log*
